@{
    ViewBag.Title = "UploadFile";
}

@{
    var uploadResult = TempData["Upload_Result"] == null
        ? string.Empty
        : TempData["Upload_Result"].ToString();

    var uploadMessage = TempData["Upload_Msg"] == null
        ? string.Empty
        : TempData["Upload_Msg"].ToString();

    var panelVisible = !string.IsNullOrWhiteSpace(uploadResult)
                       &&
                       !string.IsNullOrWhiteSpace(uploadMessage);

    var displayContent = panelVisible ? "" : "none;";
}
<h2>Upload</h2>
@using (Html.BeginForm("UploadFile", "Home",
    FormMethod.Post,
    new { id = "FormUpload", enctype = "multipart/form-data", role = "form" }))
{
    <div class="row">
        <div class="col-md-4">
            <input type="file" class="filestyle" data-buttontext="選擇圖檔" id="uploadFile" name="uploadFile">
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-success" id="ButtonUpload" value="Upload file" />
            <input type="button" class="btn btn-primary" id="ButtonHome" value="Back to Home" />
        </div>
    </div>
}
<br />
<div id="PanelUploadImage" class="well-lg" style="display:@displayContent; background-color: #eeeeee; width: 100%; height: 100%;">
    @if (uploadResult.Equals("Success", StringComparison.OrdinalIgnoreCase))
    {
        <input type="button" class="btn btn-info" id="ButtonSave" value="Save Image File" />
        <input type="button" class="btn btn-default" id="ButtonCancel" value="Cancel Save" />
        <input type="button" class="btn btn-warning" id="ButtonCrop" value="Crop Image" />
        <input type="hidden" id="HiddenFileName" value="@uploadMessage" />
        <input type="hidden" id="Hidden_UploadImageID" value="" />
        <p></p>
        <img id="UploadImage" src="/FileUpload/Temp/@uploadMessage" />
    }
    else
    {
        @uploadMessage
    }
</div>
@section scripts
{
    <script src="~/Scripts/bootstrap-filestyle.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ButtonUpload').click(function () { UploadEventHandler(); });

            $('#ButtonCrop').hide();
            $('#ButtonCrop').click(function () { CropEnevtHandler(); });
            $('#ButtonSave').click(function () { SaveEventHandler(); });
            $('#ButtonCancel').click(function () { CancelEventHandler(); });
            $('#ButtonHome').click(function () {
                window.location.href = '/Home/Index';
                return false;
            });
        });

        function UploadEventHandler() {
            var uploadFile = $('#uploadFile').val();
            if (uploadFile.length == 0) {
                alert('請選擇上傳的檔案');
                return false;
            }
            else {
                $('#FormUpload').submit();
            }
        }

        function SaveEventHandler() {
            $.ajax({
                url: '@Url.Action("Save", "Home")',
                type: 'post',
                data: { fileName: $('#HiddenFileName').val() },
                cache: false,
                async: false,
                dataType: 'json',
                success: function (result) {
                    if (result) {
                        if (result.result == "Success") {
                            $('#ButtonSave').hide();
                            $('#ButtonCancel').hide();

                            $('#ButtonCrop').show();
                            $('#UploadImage').attr('src', result.msg);
                            $('#Hidden_UploadImageID').val(result.id);
                        }
                        else {
                            $('#ButtonCrop').hide();
                            $('#PanelUploadImage').hide();
                            $('#HiddenFileName').empty();
                            $('#UploadImage').attr('src', '');
                            alert(result.msg);
                        }
                    }
                    return false;
                }
            });
        }

        function CancelEventHandler() {
            $.ajax({
                url: '@Url.Action("Cancel", "Home")',
                type: 'post',
                data: { fileName: $('#HiddenFileName').val() },
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        if (data.result != 'Success') {
                            alert(data.msg);
                        }
                        $('#PanelUploadImage').hide();
                        $('#ButtonCrop').hide();
                        $('#HiddenFileName').empty();
                        $('#UploadImage').attr('src', '');
                    }
                    return false;
                }
            });
        }

        function CropEnevtHandler() {
            var imageId = $.trim($('#Hidden_UploadImageID').val());
            if (imageId.length == 0) {
                alert('沒有資料ID編號');
            }
            else {
                window.location.href = '@Url.Action("Crop", "Home")' + '?id=' + imageId;
            }
            return false;
        }
    </script>
}
